{% extends 'blog/base.html' %}

{% block content %}
    <div class="row">
        <button type="submit" class="btn btn-success col-md-offset-11 col-sm-offset-11 col-xs-offset-11"><a href="{% url 'post_create' %}">작성하기</a></button>
    </div>
    <div class="row">
        {% for post in post %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h2><a href="{% url 'post_detail' pk=post.id %}">{{ post.title }}</a></h2>
                <p>{{ post.text|truncatechars:150 }}</p>
                <p>Published_date: {{ post.published_date }}</p>
                <div class="row">
                    <button type="submit" class="btn btn-info btn-block"><a href="{% url 'post_modify' pk=post.id %}">수정하기</a></button>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}